@import "compass";

// Core variables and mixins
@import "modules/variables"; // Modify this for custom colors, font-sizes, etc
@import "partials/mixins";

// Base
@import "partials/reset";
@import "vendor/foundation/global"; // *always required
@import "vendor/foundation/visibility";

@import "partials/grid";
@import "partials/font-face";
@import "partials/icon-font";
@import "vendor/bootstrap/wells";
@import "vendor/foundation/type";

// Components
@import "vendor/bootstrap/component-animations";
@import "vendor/bootstrap/forms";
@import "vendor/bootstrap/tables";
@import "vendor/bootstrap/close";
@import "vendor/bootstrap/dropdowns";
@import "vendor/bootstrap/buttons";
@import "vendor/bootstrap/button-groups";
@import "vendor/bootstrap/alerts";
@import "vendor/bootstrap/modals";
@import "vendor/bootstrap/tooltip";
@import "vendor/bootstrap/popovers";
@import "vendor/bootstrap/utilities";
@import "vendor/bootstrap/accordion";

// Module
@import "vendor/bootstrap/navs";
@import "vendor/foundation/top-bar";  // *requires components/grid
@import "vendor/bootstrap/breadcrumbs";
@import "partials/validation";
@import "partials/dataTables";

// $max-width:       1260px; // set page max-width
// $column-width: emCalc(85px); //60;
// $gutter-width: emCalc(20px); //20;
// $maximum-columns: 12;      // set max number of columns

[role="main"]:before {
  content: " ";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

[role="main"] {
  width: 100%
}

.sidebar-nav {
	width: 100%;
	max-width: 250px; //235px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	float: left;
	background-color: #999; //#3498db;

	.dashboard-menu {
		margin-bottom: 0;
		padding-right: 15px;
		.icon-fix {
			font-size: 1.3em;
		}
		> li {
			position: relative;
			> a {
				display: block;
				padding: 15px 12px;
				margin-left: -10px;
				margin-right: -11px;
				border-bottom: 1px solid gainsboro; //#dae1e8;
				box-shadow: 0 2px 1px -1px #FFFFFF;
				outline: 0px;
				line-height: 21px;
				color: #fff;
			}
			& i {
				font-size: 1.3em;
				top: 13px;
				margin-left: -10px;
			}
			:hover {
				// color: #333;
			}
		}
		> li.active {
			> a { 
				color: #333; //#06e;
				font-weight: 600;
				border-bottom: 0;
				box-shadow: none;
				:hover {
					text-decoration: none;
				}
			}
			& i:not(.inner-icon) {
				opacity: 1;
			}
		}
		a i {
			position: absolute;
			left: 0;
			opacity: 0.7;
		}
		a i.icon-down-open, i.icon-up-open {
			position: relative;
			float: right;
			top: 0px;
			font-size: 1.3em;
			width: initial;
			height: initial;
		}
		a span {
			margin-left: 15px;
			transition: color .1s linear;
			-moz-transition: color .1s linear;
			-webkit-transition: color .1s linear;
			-o-transition: color .1s linear;
		}
	}

	.submenu {
		display: none;
		margin-top: 7px;
		margin-right: 5px;
		margin-left: -15px;
		padding-left: 15px;
		border-bottom: 1px solid #fff; //#dae1e8;
		box-shadow: 0 2px 1px -1px #fff;
		padding-bottom: 10px;
		a {
			color: #fff;
			font-weight: normal;
			font-size: .9em;
			&:not(.inner-submenu-toggle) {
				color: #fff; //#4c535a;
			}
			text-decoration: none;
			display: block;
			margin-bottom: 7px;
			&:hover {
				color: #fff;
				text-decoration: underline;
			}
		}
		
		li {
			padding: 5px 0px;
			i {
	  		font-size: 1.1em !important;
	  	}
			a:hover {
				// color: #333;
			}
		}

	  > li.active a.inner-submenu-toggle {
	  		color: #333; //#06e;
				font-weight: 600;
				text-shadow: 1px 1px 1px #666; //#fff;
	  }

		a.inner-submenu-toggle {
			color: #fff;
			&:hover {
				text-decoration: none;
			}
			span {
				margin-left: 0px;
			}	
		}
	}
}

[role="off-canvas"], [role="main"] {
  display: block;
  position: relative;
  z-index: 1;
  -webkit-transition: 0.08s all;
  -moz-transition: 0.08s all;
  -o-transition: 0.8s all;
  transition: 0.08s all;
}

[role="off-canvas"] {
  margin-left: -85%;
  width: 85%;
	@media all and (min-width: $small-screen) {
		margin-left: -35%;
		width: 45%;
	}
	@media all and (min-width: $medium-screen) {
		margin-left: -35%;
		width: 35%;
	}
	@media all and (min-width: $large-screen) {
		// margin-left: -15%;
		// width: 15%;
	}
  float: left;
  z-index: 2;
}

[role="main"] {
  margin-left: 0;
  float: right;
  z-index: 1;
  position: relative;
  background: url(../img/grey.png);
}

.main-container, [role="navigation"], .footer-container {
  width: 100%;
  max-width: 1080px; //1260px;
  margin: 0 auto;
}

[role="navigation"] {
	padding-top: 7px;
	height: 58px;
	line-height: 58px;
}

.main-container, .footer-container {
	overflow: hidden;
}

@media screen and (min-width: $medium-screen){
	[role="navigation"] {
		overflow: visible;
	}
}

//footer 
footer, .footer-container {
  // background-color: mix($topbarBackgroundHighlight, $topbarBackground, 62.5%);
  background: #3498db;
	text-align: center;
	list-style: none;
  @media screen and (min-width: $small-to-medium-screen) {
		text-align: left;
  }
}

footer {
	position: relative;
	@media screen and (min-width: $medium-screen) {
		// position: fixed;
	}
	left: 0;
	bottom: 0;
	width: 100%;
	color: $white;
  padding: 7px 10px;
  // @include box-shadow(0 1px 4px rgba(0,0,0,.065));
  & p {
    margin: 0;
  }
  & a {
    color: $white;
  }
}

// * html [role="footer"] {
//   position:fixed;
//   top:expression((0-(site-footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
// }

.site-footer-links {
  font-size: 1.2em;
  margin: 0 auto;
  line-height: 0px;
	padding: 10px 0px;
  & li {
    position: relative;
  	display: inline-block;
  	margin-right: -4px;
		a {
		  display: block;
		  background-color: #f7f7f7;
		  background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
		  background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
		  background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
		  background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
		  background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7); 
		  color: #a7a7a7;
		  margin: 0px 20px;
		  padding-right: 2px;
		  @media screen and (min-width: $small-to-medium-screen) {
		  	margin-top: -18px;
		  	padding-right: 0px;
		  }
		  width: 37px;
		  height: 37px;
		  position: relative;
		  text-align: center;
		  line-height: 39px;
		  border-radius: 50%;
		  // box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
		  &:hover{
			  text-decoration: none;
			  color: $anchor-font-color;
			}
			i {
				display: inline-block;
			}
		}
  }
	@media screen and (min-width: $small-to-medium-screen) {
    margin-right: 2%;
  }
}

@media screen and (min-width: $small-to-medium-screen) {
	.footer-container {
	  overflow: hidden;
	  width: 100%;
	  max-width: $main-max-width;
	  margin: 0 auto;
	  padding: 0;
	  // this is a fix for IE7 and 8 since they do not understand the :last-child pseudo-class selector
	  > p + p {
	    width: columns(6);
	    float: left;
	    margin-right: gutter();
	    // @include box-sizing(border-box);
	  }
	  .site-footer-links {
	    @include last;
	    padding: 0;
	    li:first-child {
	      padding-left: 0;
	    }
	    li {
	      padding: 0 2px;
	    }
	  }
	}
}
//end footer

nav {
  position: fixed !important;
  z-index: 1040;
  @media screen and (min-width: $small-to-medium-screen) {
  	position: relative !important;
  }
}

img {
	// margin: -5px 0 0 0;
  max-width: 225px;
  @media screen and (min-width: $medium-screen){
    max-width: 165px;
  }
  height: auto;
  @include transition(all .5s ease-in-out);
}

.logo {
  padding-left: 0 !important;
}

header {
  // background: mix($topbarBackgroundHighlight, $topbarBackground, 62.5%);
  background: #3498db;
  overflow: visible;
	height: 58px;
  i {
  	margin-top: 12px; //14px;
		padding-right: 2px;
  	line-height: 45px;
  	float: left;
  	color: #fff;
  	font-size: 1.4em;
  	&.icon-menu {
  		margin-top: 10px;
  		margin-left: 10px;
  		padding: 0;
  		width: 45px;
  		cursor: pointer;
  	}
  }
  // & > section.top-bar-section {
  // 	margin-top: 14px;
  // }
  h1 {
  	margin-left: 10px !important;
		@media screen and (min-width: $medium-screen) {
			margin: 0 !important;
		}
  	float: right;
  }
}

.dropdown-toggle {
	padding: 0 35px 5px 3px !important;
}

.main-container {
	padding-top: 19px;
	padding-bottom: 19px;
}

.main-content {
	width: 100%;
	max-width: 1080px;
	float: right;
}

.breadcrumb {
 	margin: 0 5px 20px 5px;
	@media screen and (min-width: $medium-screen) {
		margin: 0 0 20px 0;
	}
}

.well {
	margin: 0 5px;
	@media screen and (min-width: $medium-screen) {
		margin: 0;
	}
}

.body-content {
	// margin-bottom: 75px;
	// padding-bottom: 100px;
	& section {
		padding: 270px 0px;
	}
}

.navopen [role="off-canvas"] {
	margin-left: 0;
	// position: absolute;
	max-width: none;

	position: fixed;
	overflow-y: scroll;
}

.navopen [role="main"] {
	margin-right: -85%;
	@media all and (min-width: $small-screen) {
		margin-right: -45%;
	}
	@media all and (min-width: $medium-screen) {
		margin-right: -35%;
	}
	@media all and (min-width: $large-screen) {
		// margin-right: -15%;
	}
}

@media screen and (max-width: $large-screen) {
  html {
  	overflow-x: hidden;
  }
  body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
  }
  .main-content {
  	margin: 0 auto;
  	float: none;
  	@media all and (max-width: $medium-screen) {
			width: auto;
  		max-width: none;
		}
  }
}