// responsive table
table {
	@include trailing-border;
	border: 0;
	padding-bottom: 0;
	display: block;
	width: 100%;
}
caption {
	display: block;
}
thead {
	display: none;
	visibility: hidden;
}
tbody, tr, th, td {
	border: 0 !important;
	display: block;
	padding: 0;
	text-align: left;
	white-space: normal;
}
tr {
	@include leader;
}
tr:first-child {
  margin-top: 0;
}
th[data-title]:before,
  td[data-title]:before {
  content: attr(data-title) ":\00A0";
  font-weight: bold;
}
th:not([data-title]) {
	font-weight: bold;
}
td:empty {
	display: none;
}

// jQuery dataTables classses
.dataTables_length {
  label > select {
    margin-right: 0;
  }
}

.dataTables_paginate {
  a {
    float: left;
  }
}

.paging_full_numbers {
  a.previous {
    @include border-right-radius(4px);
  }
  a.next {
    border-left-width: 1px;
    @include border-left-radius(4px);
  }
  span {
    margin-top: .25em;
    width: 100%;
    display: inline-block;
  }
  span a:first-child {
    border-left-width: 1px;
    @include border-left-radius(4px);
  }
  span a:last-child {
    @include border-right-radius(4px);
  }
}
