html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0 0 20px; /* bottom = footer height */
}

//REMOVED
img {
  max-width: 234px
}

.body-content {
  margin-bottom: 75px;
}

// FORM FIELDS
.right-align-label {
  text-align: right;
}

.site-footer {
  position: fixed;
}
.footer-container {
  overflow: hidden;
  width: 100%;
  max-width: $main-max-width;
  margin: 0 auto;
  padding: 0;
  // this is a fix for IE7 and 8 since they do not understand the :last-child pseudo-class selector
  > p + p {
    width: columns(6);
    float: left;
    margin-right: gutter();
    // @include box-sizing(border-box);
  }
  .site-footer-links {
    @include last;
    li:first-child {
      padding-left: 0;
    }
    li {
      padding: 0 2px;
    }
  }
}

// bootstrap classes

.well {
  padding: 19px 19px 0px 19px;
}

// TYPOGRAPHY
// ----------
// Reset horizontal dl
.dl-horizontal {
  dt {
    float: none;
    clear: none;
    width: auto;
    text-align: left;
  }
  dd {
    margin-left: 0;
  }
}

// jQuery dataTables classses
.dataTables_wrapper {
  .dataTables-row {
    @include row;
    .dataTables-half-left {
      width: columns(4);
    }
    .dataTables-half-right {
      width: columns(6);
      text-align: right;
      @include last;
    }
  }
}

.dataTables_info {
  margin-top: .625em;
}
