// jQuery dataTables classses
.dataTables_wrapper {
  padding: .5em;
  // border: 1px solid #C3C8CB;
  table {
    margin-bottom: 0;
  }
  .dataTables-row {
    @include row;
    .dataTables-half-left {
      width: columns(10);
    }
    .dataTables-half-right {
      width: columns(10);
    }
  }
}

.dataTables_length {
  label > select {
    margin-bottom: 0;
  }
}

.dataTables_filter {
  label > input {
    margin-bottom: 0;
    height: auto;
    width: 75%;
  }
}

.dataTables_info {
  margin-top: .25em;
}

.dataTables_paginate {
  margin-top: .25em;
  @include border-radius(4px);
  a {
    display: inline-block;
    padding: .25em .5em;
    text-decoration: none;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-left-width: 0;
    font-size: .75em;
  }
  a:hover {
    background-color: #f5f5f5;
    cursor: pointer;
    *cursor: hand;
  }
  a:focus {
    background-color: #f5f5f5;
    cursor: pointer;
    *cursor: hand;
  }
  a.paginate_active {
    background-color: #f5f5f5;
    color: #999999;
    cursor: default;
  }
  a.paginate_button_disabled {
    color: #999999;
    cursor: default;
    background-color: transparent;
  }
}

.paging_full_numbers {
  a.first {
    border-left-width: 1px;
    @include border-left-radius(4px);
  }
  a.last {
    @include border-right-radius(4px);
  }
}

table.dataTable {
  thead th.sorting {
    cursor: pointer;
    *cursor: hand;
    background: url('../img/sort_both.png') no-repeat center right;
  }
  thead th.sorting_asc {
    cursor: pointer;
    *cursor: hand;
    background: url('../img/sort_asc.png') no-repeat center right;
  }
  thead th.sorting_desc {
    cursor: pointer;
    *cursor: hand;
    background: url('../img/sort_desc.png') no-repeat center right;
  }
  thead th.sorting_asc_disabled {
    cursor: pointer;
    *cursor: hand;
    background: url('../img/sort_asc_disabled.png') no-repeat center right;
  }
  thead th.sorting_desc_disabled {
    cursor: pointer;
    *cursor: hand;
    background: url('../img/sort_desc_disabled.png') no-repeat center right;
  }
}
