// ******************************************
// Styling for our main base areas.  Styling done with smallest first in mind.

[role="main"]:before {
  content: " ";
  position: absolute;
  z-index: -1;// $zindexRoleMainBefore;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
}

[role="main"] {
  width: 100%
}

[role="off-canvas"], [role="main"] {
  display: block;
  position: relative;
  z-index: 1; // zindexRoleMain;
  @include transition(all .08s ease-in-out);
}

[role="off-canvas"] {
  margin-left: -85%;
  width: 85%;
	@media all and (min-width: $small-to-medium-screen) {
		margin-left: -65%;
		width: 65%;
	}
	@media all and (min-width: $medium-screen) {
		margin-left: -50%;
		width: 50%;
	}
	@media all and (min-width: $large-screen) {
		margin-left: -35%;
		width: 35%;
	}
}

[role="main"] {
  margin-left: 0;
  float: right;
  z-index: 1; // zindexRoleMain;
  position: relative;
}

.navopen [role="off-canvas"] {
	margin-left: 0;
	max-width: none;
	position: fixed;
	overflow-y: scroll;
	height: 100%;
}

.navopen [role="main"] {
	margin-right: -85%;
	@media all and (min-width: $small-to-medium-screen) {
		margin-right: -69%;
	}
	@media all and (min-width: $medium-screen) {
		margin-right: -50%;
	}
	@media all and (min-width: $large-screen) {
		margin-right: -35%;
	}
}

.main-container, [role="navigation"], .footer-container {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
}

[role="navigation"] {
	padding-top: 7px;
	height: 58px;
	line-height: 58px;
}

.main-container, .footer-container {
	overflow: hidden;
}

.main-container {
	padding-top: 19px;
	padding-bottom: 19px;
}

.breadcrumb {
 	margin: 0 5px 20px 5px;
	@media screen and (min-width: $large-screen) {
		margin: 0 0 20px 0;
	}
}

.well {
	margin: 0 5px;
	@media screen and (min-width: $large-screen) {
		margin: 0;
	}
}

.body-content {
	margin-top: 10px;
	@media screen and (min-width: $small-to-medium-screen) {
		// margin-bottom: 75px;  might add back in
	}
	h2 {
		@media screen and (min-width: $medium-screen) {
			font-size: $h1-font-size;
		}
		.app-search-open {
			margin-top: 50px;
		}
	}
	section {
		margin-bottom: 19px;
		&:last-child {
			margin-bottom: 0px;
		}
		h3 {
			@media screen and (min-width: $small-screen) {
				padding-left: 7px;
			}
			@media screen and (min-width: emCalc(1000px)) {
				padding-left: 0px;
			}
		}
	}
}

// Update checkboxes for iOS
input[type="checkbox"],
input[type="radio"] {
  border: 1px solid #ccc;
}

// FORM FIELDS
// -----------

// But don't let it screw up prepend/append inputs
.input-prepend input,
.input-append input,
.input-prepend input[class*="span"],
.input-append input[class*="span"] {
  display: inline-block; // redeclare so they don't wrap to new lines
  width: auto;
}

// When used witin the .form-group row, .form-label will help stack labels
.form-label {
  float: none;
  width: auto;
  padding-top: 5px;
  text-align: left;
}

// When small devive the label should be forced to left align
.right-align-label {
  padding-top: 5px;
	text-align: left;
}
// end form fields

// Smooth out the collapsing/expanding nav
.nav-collapse {
  -webkit-transform: translate3d(0, 0, 0); // activate the GPU
}

// Modals
.modal {
  position: fixed;
  top: 0;
  &#ehrsProcessingRequestModalDialog, &#ehrsSessionTimeOutExpiredModalDialog, 
  &#ehrsSessionTimeOutContinueModalDialog, &#ehrsSessionTimeOutConfirmModalDialog,
  &#recentUpdatesModalDialog, &#memberLoginDialog {
    top: 20%;
    bottom: inherit !important;
  }
  bottom: 0;
  right: 3%;
  left: 3%;
  width: auto;
  margin: 0;
  &.fade  { top: -100px; }
  &.fade.in { top: 3%; }
}

.modal-header .close {
  padding: 10px;
  margin: -10px;
  font-size: 1em;
}

.modal-header .title {
	display: inline-block;
}

@media screen and (max-width: $large-screen) {
  // INPUT SIZES
	// -----------
	// Ensure input-prepend/append never wraps
	.input-append input[class*="span"],
	.input-append .uneditable-input[class*="span"],
	.input-prepend input[class*="span"],
	.input-prepend .uneditable-input[class*="span"] {
	  display: inline-block;
	}

	.modal {
	  //top: 50%;
	  //right: 50%;
	  //left: 50%;
	  //width: 560px;
	  //margin: -250px 0 0 -280px;
	  width: 50%;
	  margin: 0 auto;
	  top: 3%;
	  &#ehrsProcessingRequestModalDialog {
	  	top: 40%;
	  }
	  @media screen and (min-width: emCalc(1025px)) {
	    bottom: inherit;
	  }
	  bottom: 3% !important;

	  &.fade {
	    @include transition(opacity .3s linear, top .3s ease-out);
	    top: -25%;
	  }
	  &.fade.in { top: 50%; }
	}

	.popover {
	  max-width: 480px;
	}
}
