// ******************************************
// Main menu off-canvas navigation styling

.off-canvas-nav {
	width: 100%;
	max-width: 250px;
	margin: 0 auto;
	padding: 0;
	height: 100%;
	float: left;
	background-color: $grayLight;

	.dashboard-menu {
		margin-bottom: 0;
		padding-right: 15px;
		.icon-fix {
			font-size: 1.3em;
		}
		> li {
			position: relative;
			margin-left: 12px;
			> a {
				display: block;
				padding: 15px 12px;
				margin: 0 -11px 0 -10px;
				border-bottom: 1px solid $grayLighter;
				line-height: 1.4em;
				color: $white;
				@include box-shadow(0 2px 1px -1px $white);
			}
			& i {
				font-size: 1.3em;
				top: 13px;
				margin-left: -10px;
			}
		}
		> li.active {
			> a {
				color: $grayDark;
				font-weight: 600;
				border-bottom: 0;
				@include box-shadow(none);
				:hover {
					text-decoration: none;
				}
				span {
					color: $grayDark;
				}
			}
			& i:not(.inner-icon) {
				opacity: 1;
			}
		}
		a i {
			position: absolute;
			left: 0;
			opacity: 0.8;
		}
		a i.icon-down-open, i.icon-up-open {
			position: relative;
			float: right;
			top: 0px;
		}
		a span {
			margin-left: 15px;
			@include transition(color .1s ease-in-out); //linear
		}
	}

	.submenu {
		display: none;
		margin: 7px -10px 0px -10px;
		padding: 0px 0px 10px 15px;
		border-bottom: 1px solid $white;
		@include box-shadow(0 2px 1px -1px $white);
		a {
			color: $white;
			font-size: .9em;
			&:not(.inner-submenu-toggle) {
				color: $white;
			}
			display: block;
			margin-bottom: 7px;
			&:hover {
				color: $white;
				text-decoration: underline;
			}
		}
		
		li {
			margin-right: 15px;
			padding: 5px 0px;
			i {
	  		font-size: 1.1em;
	  	}
		}

	  > li.active a.inner-submenu-toggle {
	  		color: $grayDark;
			font-weight: 600;
	  }

		a.inner-submenu-toggle {
			color: $white;
			&:hover {
				text-decoration: none;
			}
			span {
				margin-left: 0px;
			}
		}
	}
}
