// Off canvas layout adapted from work by Jason Weaver and Luke Wroblewski
.oc-b {
  position: relative;
  -webkit-transition: all 0.3s ease-out;  
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.oc-b.active {
  left: 19em;
}

a.side-menu-link {
  float: left;
  display: block;
  padding: 1em;
}

@media screen and (max-width: 979px) {
  .oc {
    width: auto;
    position: absolute;
    top: 0;
    left: -19em;
    &.on {
      top: auto;
      left: auto;
    }
  }
}

@media screen and (min-width: 61.1em) {
  a.side-menu-link {
    display: none;
  }
  .oc {
    /*position: static;*/
    /*height: 100%;*/
  }
  .oc-b.active {
    left: 0;
  }
}
