// main container
.main-container {
  width: 100%;
  max-width: $main-max-width;
  margin: 0 auto;
  &[role*="main"] {
    padding-top: 40px;
  }
}

//DONE
nav {
  position: fixed !important;
  z-index: 1040;
}

//DONE
img {
  max-width: 140px;
  @media screen and (min-width: 43.75em){
    max-width: 234px;
  }
  margin: 0;
  height: auto;
  @include transition(all .5s ease-in-out);
}
//DONE
.logo {
  padding-left: 0 !important;
}
//DONE
header {
  background: mix($topbarBackgroundHighlight, $topbarBackground, 62.5%);
  overflow: visible;
}

// Smooth out the collapsing/expanding nav
.nav-collapse {
  -webkit-transform: translate3d(0, 0, 0); // activate the GPU
}

//REMOVED
// Block level the page header small tag for readability
.page-header h1 small {
  display: block;
  line-height: $baseLineHeight;
}

// Bold font weight
.bold {
	font-weight: bold;
}

// Separator
.separator {
	border-top: 1px solid #e5e5e5;
	padding-top: 1em;
	margin-top: 1em;
}

// Update checkboxes for iOS
input[type="checkbox"],
input[type="radio"] {
  border: 1px solid #ccc;
}

// FORM FIELDS
// -----------

// But don't let it screw up prepend/append inputs
.input-prepend input,
.input-append input,
.input-prepend input[class*="span"],
.input-append input[class*="span"] {
  display: inline-block; // redeclare so they don't wrap to new lines
  width: auto;
}

// When used witin the .form-group row, .form-label will help stack labels
.form-label {
  float: none;
  width: auto;
  padding-top: 5px;
  text-align: left;
}

// When small devive the label should be forced to left align
.right-align-label {
  padding-top: 5px;
	text-align: left;
}

// Modals
.modal {
  position: fixed;
  top: 0;
  &#ehrsProcessingRequestModalDialog, &#ehrsSessionTimeOutExpiredModalDialog, 
  &#ehrsSessionTimeOutContinueModalDialog, &#ehrsSessionTimeOutConfirmModalDialog,
  &#recentUpdatesModalDialog, &#memberLoginDialog {
    top: 20%;
    bottom: inherit !important;
  }
  bottom: 0;
  right: 3%;
  left: 3%;
  width: auto;
  margin: 0;
  &.fade  { top: -100px; }
  &.fade.in { top: 3%; }
}

.modal-header .close {
  padding: 10px;
  margin: -10px;
  font-size: 1em;
}
.modal-header .title {
	display: inline-block;
}

// ******************************************
// Styling for jQuery autocomplete

.acResults {
	padding: 4px 0;
	border: 1px solid WindowFrame;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
  	-webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  	-moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  	-webkit-background-clip: padding-box;
  	-moz-background-clip: padding;
  	background-clip: padding-box;
	background-color: Window;
	overflow: hidden;
}

.acResults ul {
	margin: 0px;
	padding: 0px;
	list-style-position: outside;
	list-style: none;
}

.acResults ul li {
	margin: 0px;
	padding: 2px 5px;
	cursor: pointer;
	display: block;
	font-size: 12px;
	overflow: hidden;
}

.acLoading {
	background : url(../img/indicator.gif) right center no-repeat;
}

.acSelect {
	background-color: #59A2F6;
	color: HighlightText;
}

// ******************************************
// Styling for audio player

.audioPlayer {
  border: 1px #ededed outset;
  display: inline-block;
  width: 300px;
  height: 45px;
}

.audioPlayerControls {
  margin: 5px;
  display: inline-block;
  vertical-align: top;
}

.audioPlayerPlayPause, .audioPlayerReload, .audioPlayerVolume, .audioPlayerVolumeButton {
  display: inline-block;
  float: left;
  margin: .8em .2em;
  width: 1.5em;
  height: 1.5em;
  text-align: center;
  overflow: hidden;
  a {
	  font-family: 'icon-font';
	  font-size: 1.5em;
	  font-style: normal;
	  font-weight: normal;
    display: inline-block;
    width: auto;
	  text-align: center;
	  cursor: pointer;
	  span {
	    height: 0;
	    width: 0;
      font-size: 0;
      line-height: 0;
      color: transparent;
	  }
  }
}

.audioPlayerLoading .audioPlayerPlayPause a:before {
  content: '\e805' !important;
}

.audioPlayerLoading .audioPlayerPlayPause a {
  cursor: default !important;
}

.audioPlayerStopped .audioPlayerPlayPause a:before {
  content: '\e800';
}

.audioPlayerStopped .audioPlayerPlayPause a {
  cursor: pointer;
}

.audioPlayerPlaying .audioPlayerPlayPause a:before {
  content: '\e80d';
}

.audioPlayerPlaying .audioPlayerPlayPause a {
  cursor: pointer;
}

.audioPlayerTime {
  display: inline-block;
  float: left;
  margin: .8em 0;
  text-align: center;
}

.audioPlayerBar {
  display: inline-block;
  float: left;
  margin: .8em .2em;
  width: 9.8em;
  height: 1.5em;
  border: 1px #ededed inset;
  text-align: left;
  cursor: pointer;
  overflow: hidden;
}

.audioPlayerNoVolume .audioPlayerBar {
  width: 11.8em;
}

.audioPlayerNoVolume .audioPlayerVolume {
  display: none;
}

.audioPlayerBar {
	div {
    display: inline-block;
    left: 0;
    width: 0;
    height: 100%;
    position: relative;
  }
  .audioPlayerBarLoaded {
    background-color: #d9edf7;
    z-index: 1;
  }
  .audioPlayerBarPlayed {
    background-color: #08c;
    top: -1.7em;
    z-index: 2;
  }
}

.audioPlayerReload a:before {
  content: '\e80f';
}

.audioPlayerVolume {
  overflow: inherit;
}

.audioPlayerVolumeButton {
  margin: 0;
}

.audioPlayer:not(.audioPlayerMuted) .audioPlayerVolumeButton a:before {
  content: '\e813';
}

.audioPlayer.audioPlayerMuted .audioPlayerVolumeButton a:before {
  content: '\e812';
}

.audioPlayerVolume:hover .audioPlayerVolumeAdjust {
  display: inline-block;
}

.audioPlayerVolumeAdjust {
  display: none;
  height: 6.75em;
  width: 1.5em;
  position: relative;
  top: -8.35em;
  border: 1px #ededed outset;
  cursor: default;
}

.audioPlayerVolumeAdjuster {
  display: inline-block;
	border: 1px #ededed inset;
  width: 1em;
  height: 6.25em;
  background-color: #d9edf7;
  cursor: pointer;
  position: relative;
  z-index: 1;
  margin: .2em;
}

.audioPlayerVolumeBar {
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #08c;
}

// ******************************************

// ******************************************
// Styling for chardinjs overlay instructions

.chardinjs-overlay {
  position: absolute;
  z-index: 999999;
  background-color: #888;
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.chardinjs-helper-layer {
  position: absolute;
  z-index: 9999998;
  color: white;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  .chardinjs-helper-layer.chardinjs-left {
    border-left: solid white 1px;
    margin-left: -10px; }
  .chardinjs-helper-layer.chardinjs-right {
    border-right: solid white 1px;
    padding-right: 10px; }
  .chardinjs-helper-layer.chardinjs-bottom {
    border-bottom: solid white 1px;
    padding-bottom: 10px; }
  .chardinjs-helper-layer.chardinjs-top {
    border-top: solid white 1px;
    padding-top: 10px; }

.chardinjs-tooltip {
  position: absolute;
  -webkit-transition: opacity 0.1s ease-out;
  -moz-transition: opacity 0.1s ease-out;
  -ms-transition: opacity 0.1s ease-out;
  -o-transition: opacity 0.1s ease-out;
  transition: opacity 0.1s ease-out;
  max-width: 200px; }
  .chardinjs-tooltip.chardinjs-left {
    margin-left: -135px;
    padding-right: 10px; }
  .chardinjs-tooltip.chardinjs-right {
    margin-right: -135px;
    padding-left: 10px; }
  .chardinjs-tooltip.chardinjs-bottom {
    margin-bottom: -50px;
    padding-top: 10px; }
  .chardinjs-tooltip.chardinjs-top {
    margin-top: -50px;
    padding-bottom: 10px; }
  .chardinjs-tooltip.chardinjs-right:before, .chardinjs-tooltip.chardinjs-left:after, .chardinjs-tooltip.chardinjs-bottom:before, .chardinjs-tooltip.chardinjs-top:after {
    content: ".";
    display: inline-block;
    background-color: white;
    height: 1px;
    overflow: hidden;
    position: absolute; }
  .chardinjs-tooltip.chardinjs-right:before, .chardinjs-tooltip.chardinjs-left:after {
    width: 100px;
    top: 50%; }
  .chardinjs-tooltip.chardinjs-bottom:before, .chardinjs-tooltip.chardinjs-top:after {
    width: 1px;
    height: 50px;
    left: 50%; }
  .chardinjs-tooltip.chardinjs-bottom:before {
    top: -50px; }
  .chardinjs-tooltip.chardinjs-top:after {
    bottom: -50px; }
  .chardinjs-tooltip.chardinjs-right:before {
    left: -100px; }
  .chardinjs-tooltip.chardinjs-left:after {
    right: -100px; }

.chardinjs-show-element {
  z-index: 9999999;
  opacity: 0.8; }

.chardinjs-relative-position {
  position: relative; }

// ******************************************
